<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rents</title>
</head>

<body>
  <h1>Rents</h1>
  <h2><a href="/rents/new">New rent</a></h2>
  <ul>
    <% for(let rent of rents) { %>
      <a href="/rents/<%= rent.id %>">
      <li>
        ID: <%= rent.id %>, 
        Date: <%= rent.date %>, 
        Customer ID: <%= rent.customer_id %>
        Book ID: <%= rent.book_id %>
      </li>
      </a>
    <% }; %>
    <a href="/">return</a>
  </ul>
</body>

</html>