<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Rent</title>
</head>

<body>
    <h1>View Rent</h1>

    <p>Name: <%= rent[0].date %>
    </p>
    <p>Phone: <%= rent[0].customer_id %>
    </p>
    <p>Phone: <%= rent[0].book_id %>
    </p>

    <a href="/rents/<%= rent[0].id %>/edit">edit</a>

    <form action="/rents/<%= rent[0].id %>?_method=DELETE" method="POST">
        <button>delete</button>
    </form>

    <a href="/rents">return</a>
</body>

</html>