<!-- views/customers/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customers</title>
</head>

<body>
  <h1>Customers</h1>
  <h2><a href="/customers/new">New customer</a></h2>
  <ul>
    <% for(let customer of customers) { %>
      <a href="/customers/<%= customer.id %>">
      <li>
        ID: <%= customer.id %>, 
        Name: <%= customer.name %>, 
        Phone: <%= customer.phone %>, 
        Adress: <%= customer.adress %>
      </li>
      </a>
    <% }; %>
    <a href="/">return</a>
  </ul>
</body>

</html>